@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  font-family: "Outfit", Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;

  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  -webkit-text-size-adjust: 100%;
  background-color: var(--light-gray);
}


body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
